<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/style.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <!-- vue app -->
    <div id="app">
      <!-- title -->
      <h1 class="text-center m-3">To Do List</h1>
      <div class="container">
        <!-- input section -->
        <div class="d-flex justify-content-center mt-5">
          <label class="me-3" for="new-task">inserisci un nuovo task</label>
          <input
            id="new-task"
            type="text"
            v-model="newTask.text"
            @keyup.enter="addTask"
            placeholder="inserisci task"
          />

          <button class="btn btn-primary ms-3" @click="addTask">
            aggiungi
          </button>
        </div>
        <div class="d-flex justify-content-center mb-5">
          <small v-show="visible" class="text-danger ms-5"
            >il task non può essere vuoto</small
          >
        </div>

        <!-- task list -->
        <div class="d-flex justify-content-center">
          <ul class="list-group w-50">
            <!-- single task -->
            <li
              class="list-group-item d-flex justify-content-between"
              v-for="(task, index) in toDoList"
              :key="index"
            >
              <p :class="{'text-decoration-line-through':task.done}" class="m-0 align-self-center">
                {{ task.text }}
              </p>

              <!-- buttons -->
              <div>
                <button class="btn btn-success me-2" @click="doneTask(index)">
                  done
                </button>
                <button class="btn btn-danger" @click="clearTask(index)">
                  X
                </button>
              </div>
              <!-- /buttons -->
            </li>
            <!-- /single task -->
          </ul>
        </div>
        <!-- /task list -->
        <div class="d-flex justify-content-center">
          <div v-if="toDoList.length === 0" class="card w-50 text-center">
            <p class="fw-bolder text-uppercase align-self-center m-0 p-3">la tua lista è vuota</p>
          </div>
        </div>
      </div>
    </div>

    <script src="./js/script.js"></script>
  </body>
</html>
